
<!DOCTYPE html>    
<html>    
<head>    
    <title>Create Task</title>    
    
</head>    
<body>    
    
    <form id="task" method="post" asp-action="CreateTasks" asp-asp-controller="home">    
        <label><b>Name 
        </b>    
        </label>    
        <input type="text" name="name" id="name" placeholder="Name">    
        <br><br>    
        
        <input type="submit" name="log" id="log" value="Create">       
        <br><br>    
       
    </form>     
   
</body>    
</html>

